@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg.jpg);
    background-size: cover;
}
.banner .content{
    text-align: center;
    max-width: 900px;
}
.banner .content h2{
    font-size: 5rem;
    color: #fff;
}
.banner .content p{
    font-size: 1rem;
    color: #fff;
}
.btn{
    font-size: 1rem;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
    color: #111;
}
header .logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: .5s;
}
header .navigation li a:hover{
    color: #ff0157;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titletext{
    color: #111;
    font-size: 2rem;
    font-weight: 300;
}
.titletext span{
    color: #ff0157;
    font-weight: 700;
    font-size: 2.5rem;
}
.row .col50 .imgbx{
    position: relative;
    width: 100%;
    min-height: 300px;
}
.row .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px 0 5px;
}

.menu .content .box .text h3{
    font: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.testimonials{
    background: url(./images/bg2.jpg);
    background-size: cover;
}
.white .titletext,
.white p {
    color: #fff;
}
.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials .content .box .imgbx{
    position: relative;
    width: 120px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgbx img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #ff0157;
    font-size: 1rem;
}
.testimonials .content .box .text p{
    font-style: initial;
    color: #666;
}
.contact{
    background-image:url(./images/bg3.jpg);
    background-size: cover;
}
.contactform{
    padding: 75px 50px;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0,0.3);
    max-width: 500px;
    margin-top: 40px;
}
.contactform h3{
    color: #111;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    resize: none;
}
.contactform .inputbox input[type="submit"]{
    font-size: 1rem; 
    background-color: #ff0157;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
}
.copyrighttext{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}
.copyrighttext p{
    color: #333;
}
.copyrighttext span{
    color: #ff0157;
    font-weight: 500;
}
@media (max-width:991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        top: 68px;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        background-color: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a {
        color: #111;
        font-size: 1.6rem;
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3rem;
        color: #fff;
    }
.menutoggle{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(./images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menutoggle.active{
    background-image: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
header.sticky .menutoggle{
    filter: invert(1);
}
.row{
    flex-direction: column;
}
.row .col50{
    position: relative;
    width: 100%;
}
.row .col50 .imgbx{
    height: 300px;
    margin-top: 20px;
}
.menu .content{
    margin-top: 20px;
}
.menu .content .box{
    margin-top: 10px;
}
.menu .content .box .imgbx{
    height: 260px;
}
.title{
    text-align: center;
}
.titletext{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 15px;
    font-weight: 300px
}
.expert .content .box .text h3 {
    text-align: center;
}
.testimonials .content .box {
    margin: 10px;
    padding: 20px;
}
.contactform {
    padding: 35px 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}
}
@media (max-width: 480px){
.banner .content h2 {
    font-size: 1.5rem;
}
}
